.p{
  font-family: Montserrat;
}

.first{
  height: 5px;
}

.org{
font-weight: bold;
font-family: Arial;
}

.one-h{
color: grey;
}

.second{
width: 450px;
}

.last{
margin-top: 25px;
}

.chip-it{
  color: rgb(0, 98, 255);
  cursor: pointer;
}
